.alert {
  position: fixed;
  top: 0;
  left: 50%; /* กำหนดให้ขอบซ้ายอยู่กึ่งกลางจอ */
  width: 1500px;
  height: 200px;
  transform: translateX(-50%); /* เลื่อนองค์ประกอบไปทางซ้ายครึ่งหนึ่งของความกว้าง เพื่อให้กึ่งกลางขององค์ประกอบอยู่กึ่งกลางจอ */
}

 