body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .LoginBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .Login {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h2 {
    text-align: center;
    color: #000000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    height: 38px;
    padding: 8px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
  }
  
.text-muted {
    color: #6c757d;
  }
.btnReg{
    float: right;
}


